/* Logo */
#logo { 
    float: right;
    font-size: 65px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Charcoal, sans-serif;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
}

/* Background */
body {
    background-image: url("../images/star_wars_background.jpg");
    z-index: -99;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Container */
#container {
    margin-left: 10px;
}

/* Images */
img {
    height: 125px;
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Character Cards */
.stats_card {
    border: solid;
    border-width: 2px;
    border-color: black;
    float: left;
    width: 180px;
    height: 275px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
}

h1 {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

h1.game_header {
    font-weight: bold;
}

#char_list {
    height: 100px;
}
#enemy_list{
    height: 100px;
}
#defend_list{
    height: 100px;
}

/* Battle Comments */
#battle_comments {
    clear: both;
}

/*-- jQuery --*/
.enemy_stats_card {
    background-color: #e60000;
    border-color: black;
}

.your_stats_card { 
    border-color: #00ff00; 
}

.defender_stats_card {
    border-color: red;
    background-color: black;
    color: white;
}

.hide_dead_enemy {
    display: none;
}

.inline_bold {
    font-weight: bold;
}